/* body {
  margin: 0 auto 0 auto !important;
  max-width: min(100vh, 100%) !important;
  min-width: 0px !important;
} */

/* google logo */
.cOl4Id { display: none; }

/* related questions and junk */
div:has(> div > .K8tyEc) { display: none; }


body {
  margin: 0;
  width: unset;
  max-width: unset;
}

/* make results into a grid*/
#main {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60vh, 1fr));
}

/* reposition subtabs w/ query */
body > header {
  max-width: 60vh;
}
#main > :first-child {
  grid-row: 1;
  grid-column: 1;
  /*margin-top: 4rem;*/
}
#main > :nth-child(2 of div) {
  display: none;
}
/* google correction in the same space*/
#main > div.Gx5Zad.xpd.EtOod.pkphOe {
  grid-column: 1;
  grid-row: 1;
  margin-top: 8rem;
  margin-bottom: 1rem;
  & > div { margin-bottom: 0; }
}

/* results */
#main > div {
  margin: 0.3rem 0.3rem;
}

/* nonsense in define/sound */
#main > div:has(> br:only-child) {
  display: none;
}

#main > div > div.Gx5Zad.xpd.EtOod.pkphOe:not(.fP1Qef) {
  overflow: hidden; /* for images */
  /* shrink upside-down question */
  & > div.x54gtf + div.kCrYT {
    padding-top: 0;
  }
  div.oTWEpb, div.x54gtf {
    display: none;
  }
  & > div.kCrYT:first-child {
    display: flex;
    gap: 1rem;
  }
}

/* first upside-down ans is typically big */
#main > :nth-child(1 of div:has(> div.Gx5Zad.xpd.EtOod.pkphOe:not(.fP1Qef):first-child):not(:has(> div > div.K8tyEc))) {
  grid-row: span 2;
}

#main > div > div.Gx5Zad.xpd.EtOod.pkphOe.fP1Qef {
  /*remove paddings*/
  & > div.egMi0.kCrYT {
    padding: 0;
  }
  & > div.kCrYT {
    padding: 0;
    padding-top: 1.2rem;
  }
}

/* other related links */
div.BNeawe.s3v9rd.AP7Wnd > div > div > div.v9i61e,
div.BNeawe.s3v9rd.AP7Wnd > div > div > div > div.BNeawe.s3v9rd.AP7Wnd {
  padding-bottom: 0;
  & a > span {
    font-size: 0.8em;
  }
}

/* Bring answer title closer to link */
div.j039Wc {
  padding-top: 1.6rem;
}

div.v9i61e {
  padding-bottom: 0;
}

div.Q0HXG {display: none; }
div.Q0HXG + * { padding-top: 0;}

.Gx5Zad.fP1Qef {
  margin: 0;
}

footer .Srfpq {
  display: none;
}
footer .Srfpq + * {
  display: none;
}
#EOlPnc {
  margin-top: 0;
  & > * {
    margin: 0;
  }
}


div:has(> .search) {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.search {
  background: rgb(48, 49, 52);
  border: none;
 outline: 0.05rem solid gray;
 font-size: 2em;
 color: lightgray;
}


span.open-url-label {
font-size: 1.3em;
margin-right: 0.5rem;
}

body[data-in-labels=true] span.open-url-label {
color: red;
}
body:not([data-in-labels=true]) span.open-url-label {
color: #fff582;
}
